.container{
  width: 85%;
  max-width: 1256px;
  margin: auto;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  animation: floating 1s linear 0.2s;
  // visibility: hidden;
  // opacity: 0;
  &__viseble{
    visibility: visible;
    opacity: 1;
  }
  &__design{
    margin-bottom: -34rem;
  }
}
.col{
  &-30{
    flex-basis: 30%;
  } 
  &-35{
    width: 35%;
  }
  &-40{
    flex-basis: 40%;
  }
  &-50{
    width: 50%;
    
  }
  &-60{
    flex-basis: 60%;
    overflow: visible;
  }
 
  &-65{
    width: 65%;
  }
}