@media screen and ( max-width: 1520px ){
  .application__row{
    display: none;
  }
}
@media screen and ( max-width: 1370px ){
  .swiper{
    &-slide{
      &__text{
        margin-right: -3rem;
      }
    }
  }
  header{
  .menu{
    .menu__nav{ 
      .nav__link{
        margin-right: 1rem;   
      }
    }
  }
}
} 





@media screen and ( max-width: 1200px ){
html {
  font-size: 12px;
 }
  header{
    .menu{
      .menu__nav{ 
        .nav__link{
          margin-right: 1rem;   
        }
      }
    }
  }
  .application__button{
    margin: 2rem auto;
  }
  .fantasy__col-60{
    display: none;
  }
}
@media screen and ( max-width: 992px ){
  .order{
    display: none;
  }
  .swiper{
    &-slide{
      &__text{
        margin-right: 0rem;
      }
    }
  }
  .hero{
    &__instagram{
        display: none !important;
    }
    &__content{
      margin-left: 0;
    }
  }
header{
    .menu__nav{
      display: none;
    }
  }
  .team__section-title{
    margin-top: 25rem;
  }
  
  .team__card{
   width: 304px;
   margin-top: 0rem;
   margin-bottom: 10rem;
  }
}
  
  
  

@media screen and ( max-width: 760px ){
  
  .control{
    background: $dark url('../img/background linear.svg') no-repeat center;
    background-size:cover;
    margin-top: -2px;
    color:$light;
    padding: 0;
      &__section-title{
      margin-top: 0;
    }
      &__form{
      flex-direction: column;
      }
      &__input-group{
        margin-top: 2rem;
      }
      &__button{
        margin-top: 2rem;
      }
      &__video{
        width: 100%;
      }
      &__video>img{
        width: 37px;
        height: 37px;
      }
      &__text{
        font-size: 14px;
      }
  }
  
  .section--dark{
    margin: 0;
    padding: 0 0 5rem;
  }
  .section-title{
    &--left{
      text-align: center;
    }
    &__heading{
      &--primary{
        text-align: center;
        margin-bottom: 2rem;
      }
    }
    &__word{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
      &::after{
        display: none;
      }
    }
    &__text{
      text-align: center;
      margin: 0 auto 3.571rem;
    }
  }
  .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col-50{
    width: 100%;
    order: 1;
    &--a{
      order: 0;
    }
  }  
  .col-30{
      .design__card{
        margin-bottom: 5rem;
    }
  }
  .swiper-slide__text{
    margin-right: 0rem;
  }
  .application__col-60{
    display: none;
  }
  .client{
  display: none;
  }
  .fantasy{
   width: 100%;
   height: 242px;
  .fantasy__col-40{
    display: none;
  }
 }
 .section {
 padding: 20px;
 }
 .wrap{
   background-color:$light;
   color: $dark;
 }
  .design{
    background-color:$dark;
    color:$light;
   .design__text{
      font-size: 15px;
    }
  }
  .footer__wrap{
    margin: 0;
  }
  .team__conclusion{
    display: none;
  }
  .footer__menu{
    display: none;
  }
}
  
  @media screen and ( max-width: 760px ){
    .row{
      flex-direction: column;
      align-items: center;
      .col-30{
        .card{
          &__text{
            margin-left: 0;
         }
        }
      }
    }
    .types{ 
      &__card{
        margin-bottom: 5rem;
      }
    }
    }

@media screen and ( max-width: 570px ){
  body{
    background-color:$dark;
    color:$light;
  }
  .container{
    width: 95%;
    
  }
  
  header{
    .phone {
      color:$light !important;
    }
  }  
  .contacts{
    &__phone{
    margin-right: 0;
    text-decoration: none;
    }

  &__button{
    display: none;
  }
 }
 
 .hero{
   .title{
   font-size: 1.64rem;
   }
   &__scroll-down{
     display: none !important;
   }
   &__content{
     min-width: 22.86rem;
   }
   &__text{
     font-size: 1.29rem;
   }
   &__button{
     display: block;
     min-width: 22.86rem;
     margin-bottom: 1.85rem;
   }
 }
 .application__col-40{
   display: none;
 }
 
}

@media screen and (max-height: 520px){
  .hero{
    &__scroll-down{
      display: none;
    }
  }
}
@media screen and (max-width: 376px){
  header{
    .menu{
      margin-left: -14px;
    } 
    
  }
  .contacts{
    .menu__contacts{
      margin-right: 0;
    }
    &__phone{
      margin-right: 0 !important;
    }
  }
  .hero{
    min-height:100vh;
    &__content{
      margin-left: 0 !important;
      margin: 0 auto;
    }
  }
} 
