*,*::before,*::after{
  box-sizing: border-box;
  }

html{
    font-size: 14px;
  }
body{
    font-family:'Futura Book', sans-serif;
    font-size: 1rem;
  }

img{
    max-width: 100%;
  }

.section{
    padding: 60px;
      &--dark{
        background: $dark url('/src/img/BACKGROUND\ LINE.svg') no-repeat center;
        background-size:cover;
        color:$light;
        padding-top: 9.142rem;
      }
      &-subtitle{
        margin-bottom: 18px;
        font-size: 15px;
        line-height: 21px;
        text-transform: uppercase;
      }
      &-title{
        text-align: center;
          &__img{
          display: flex;
          justify-content: center;
          align-items: center;
            &::after,&::before{
              content:"";
              width: 32px;
              height: 2px;
              background-color: $primary;
              margin: 0 10px;
            }
          }
          &--left{
            text-align: left;
          } 
          &--light{
               color:$light;
              }
          &__heading{
            line-height: 138%;
            text-transform: uppercase;
            font-family: 'Yeseva One', cursive;
            margin: 0 0 11px;
              &--primary{
              color:$primary;
              margin: 0;
              font-size: 1.928rem;
              line-height: 2,642rem;
              letter-spacing: -0.07em;
              }
             
          }
          &__word {
            display: flex;
            align-items: center;
              &::after{
                content:"";
                width: 90px;
                height: 2px;
                background-color:$primary;
                margin-left: 2rem;
              }
          }
          &__text{
            font-size: 1.28rem;
            line-height: 2.07rem;
            max-width: 31.57rem;
            margin-bottom: 3.571rem;
          }   
      
      
      }
}
.section-title--light{
  color:$light;
}