.design{
  
  &__section-title{
    margin-bottom: 2rem;
    }
    &__text{
      max-width: 52.9rem;
      text-align: center;
      font-size: 1.428rem;
      line-height: 1.928rem;
      margin: 0 auto 2.214rem;
    }
}
