.order{
  padding-top: 28rem;
  padding-bottom: 40rem;
  &__text{
    max-width: 24.071rem;
    font-size: 1.071rem;
    line-height: 1.785rem;
  }
  &__section-title{
    margin-bottom: 9.642rem;
  }
  &-title{
    &--primary{
      font-family: 'Yeseva One';
      font-size: 1.071rem;
      line-height: 1.785rem;
      color:$primary;
      margin: 0 0 1.142rem 0;
    }
  }
}
.slide{
  &__item{
  margin-top: 125px;
  height: 358px;
  }
  &__title{
    margin: 0;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    color: #E3B873;
  }
  &__text{
    margin-top: 10px;
    max-width: 327px;
    font-size: 15px;
    line-height: 25px;
    color: $light;
  }

}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}
.key{
  margin-top: 90px;
  margin-left: 44px;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
    &__item{
      flex-basis: 30%;
      cursor: pointer;
        &:hover .key__number{
        color:#fff;
        }
        &:hover .key__number::after{
        background-color:$primary,
        }
        &:hover .key__text{
          color:#fff;
        }
    }
    &__number{
      font-family: 'Yeseva One', cursive;   
      font-size: 15px;
      line-height: 21px;
      text-transform: uppercase;
      color: rgba($light, 0.5);
        &::after{
          content: '';
          display: block;
          width: 16px;
          height: 1px;
          background-color:rgba($primary, 0.5);
      }
    }
    &__text{
      font-size: 15px;
      line-height: 18px;
      color: rgba($light, 0.5);
    }
    &__img{
      display: block;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
      max-height: 377px;
      max-width: 765px;
    }
}
.swiper-slide--key{
      margin-top: 10px;
      width: 100%;
      max-height: 377px;
      max-width: 765px;
      height: 100%;
}
.swiper-container-horizontal >.swiper-pagination-fraction{
  top:85px;
  left: 0px !important;
  font-family: 'Yeseva One', cursive;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.slider-3{
  width: 100%;
  max-height: 377px;
  max-width: 765px;
  height: 100%;
  margin-left: 43px;
}
.conclusion{
  visibility: hidden;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}