.team{
  padding-bottom: 2.5rem;
  &__section-title{
    margin-top: -20rem;
    margin-bottom: 1.5rem;
    letter-spacing: -1px;
  }
  &__text{
    max-width: 32rem;
    margin: auto;
    font-size: 1.428rem;
    line-height: 1.928rem;
    text-align: center;
    color: $light;
    margin-bottom: 6rem;
  }
  &__card{
    position: relative;
    width: 100%;
    max-width:19.4rem;
    height: 25.6rem;
    background: url('/src/img/manager.jpg') no-repeat top / cover;
    margin: 0 auto;
    &--a{
      background: url('/src/img/artist.jpg') no-repeat top / cover;
    }
    &--b{
      background: url('/src/img/foreman.jpg') no-repeat top / cover;
    }
  }
  &__row{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto ;
    padding-top: 0;
    &::after{
      content: '';
      position: absolute;
      display: block;
      width: 55px;
      height: 2px;
      background-color:$primary;
      bottom: -8rem;
      left: 50%;
      transform: translate(-50%,0);
    }
  }
  &__card-text{
    position: absolute;
    bottom:-30px;
    left: 20px;
    width:100%;
    max-width: 16.643rem;
    height: 100%;
    max-height: 8rem;
    background-color: #fff;
  }
  &__subtitle{
    margin-top: 0;
    font-size: 1.285rem;
    line-height: 1.857rem;
    text-align: center;
    color: #959595;
  }
  &__pricetag{
    font-family: 'Yeseva One', cursive;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0.8rem 3.2rem;
  }
  &__conclusion{
    font-size: 1.428rem;
    line-height: 2.428rem;
    text-align: center;
    color: $design;
    width: 100%;
    max-width: 40.57rem;
    margin:9rem auto 0;
  }
}
.card__icon{
position: absolute;
top:-50px;
left:-55px;
}
.card__title--team{
  font-family: 'Yeseva One', cursive;
  text-align: center;
  font-size: 1.285rem;
  line-height:1.785rem;
  margin-top: 1.357rem;
  margin-bottom: 4px;
}
