@charset "UTF-8";
.container {
  width: 85%;
  max-width: 1256px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.col-30 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.col-50 {
  width: 50%;
}

.button {
  padding: 11px 24px;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 0.93rem;
}

.button:hover {
  cursor: pointer;
}

.button--primary {
  background-color: #E3B873;
  color: #fff;
  -webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  -webkit-transition: -webkit-box-shadow 0.3s linear;
  transition: -webkit-box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
}

.button--primary:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--outline {
  padding: 18px 45px !important;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.label {
  font-size: 1.07rem;
}

.label--light {
  color: rgba(255, 255, 255, 0.2);
}

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  font-size: 1.285rem;
  color: #fff;
  padding: 0.5rem 0;
}

.input::-webkit-input-placeholder {
  color: #fff;
}

.input:-ms-input-placeholder {
  color: #fff;
}

.input::-ms-input-placeholder {
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.policy__checkbox {
  opacity: 0;
  visibility: hidden;
}

.policy__checkbox:checked + .policy__label::before {
  background: #E3B873 url("/src/img/check.svg") no-repeat center/0.8rem;
}

.policy__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.policy__label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #E3B873;
  border-radius: 1px;
  margin-right: 0.64rem;
}

#scroll_top {
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 4;
  width: 50px;
  height: 50px;
  background: #131313 url(/src/img/arrow-down.svg) 50% 50% no-repeat;
  border-radius: 50%;
  opacity: 0.5;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#scroll_top:hover {
  opacity: 1;
}

@font-face {
  font-family: 'Futura Book';
  src: url("../font/Futura/FuturaBookC.woff") format("woff"), url("../font/Futura/FuturaBookC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Futura Demi';
  src: url("../font/Futura/FuturaDemiC.woff") format("woff"), url("../font/Futura/FuturaDemiC.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Futura Book', sans-serif;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.section {
  padding: 60px;
}

.section--dark {
  background: #131313 url("/src/img/BACKGROUND LINE.svg") no-repeat center;
  background-size: cover;
  color: #fff;
  padding-top: 9.142rem;
}

.section-title {
  text-align: center;
}

.section-title--left {
  text-align: left;
}

.section-title__heading {
  line-height: 138%;
  text-transform: uppercase;
  font-family: 'Yeseva One', cursive;
}

.section-title__heading--primary {
  color: #E3B873;
  margin: 0;
  font-size: 1.928rem;
  line-height: 2,642rem;
  letter-spacing: -0.07em;
}

.section-title__word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title__word::after {
  content: "";
  width: 90px;
  height: 2px;
  background-color: #E3B873;
  margin-left: 2rem;
}

.section-title__text {
  font-size: 1.28rem;
  line-height: 2.07rem;
  max-width: 31.57rem;
  margin-bottom: 3.571rem;
}

.section__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__img::after, .section__img::before {
  content: "";
  width: 32px;
  height: 2px;
  background-color: #E3B873;
  margin: 0 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  padding: 24px 0;
  background: #131313;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  color: #E3B873;
  text-transform: uppercase;
  font-size: 1.075rem;
}

header .menu__nav .nav__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-right: 2.85rem;
  -webkit-transition: color 0.2 linear;
  transition: color 0.2 linear;
}

header .menu__nav .nav__link:hover {
  color: #E3B873;
}

header .phone {
  color: #E3B873;
}

header .contacts__phone {
  margin-right: 45px;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
  height: 100vh;
  background: #131313 url("/src/img/hero-bg.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.7);
}

.hero::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  height: 3.46rem;
  background: #131313;
}

.hero__instagram {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 82px;
  height: 100%;
  font-size: 1.1rem;
  font-family: 'Yeseva One', cursive;
}

.hero .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #131313;
}

.hero .instagram__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #E3B873;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  line-height: 0.8;
}

.hero .instagram__link::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #E3B873;
  margin-left: 8px;
}

.hero__scroll-down {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 17.6rem;
  min-height: 6.92rem;
  background-color: #131313;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.hero__scroll-down::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 2px solid #E3B873;
  border-radius: 50%;
  margin-left: 12px;
  background: url("../img/arrow-down.svg") no-repeat center;
}

.hero .title {
  font-family: 'Yeseva One', cursive;
  text-transform: uppercase;
  font-size: 2.875rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.hero .title__primary {
  color: #E3B873;
}

.hero__content {
  position: relative;
  max-width: 47.85rem;
  margin-left: 4.28rem;
}

.hero__text {
  line-height: 131%;
  font-size: 1.57rem;
  max-width: 37.85rem;
  margin: 0 0 3rem 0;
}

.hero__button {
  margin-right: 20px;
  padding: 20px 25px;
}

.types__section-title {
  margin-bottom: 2rem;
}

.card__text {
  position: relative;
  max-width: 23.6rem;
  margin: -9.3rem auto 0;
  padding: 1.79rem 2.14rem;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.card__title {
  margin-top: 0;
  margin-bottom: 0.7rem;
  font-family: 'Yeseva One', cursive;
  font-size: 1.29rem;
}

.card__list {
  margin: 0;
  padding: 0 0 0 1rem;
  font-size: 1.07rem;
  line-height: 1.79rem;
  color: #959595;
  margin-bottom: 2.5rem;
}

.card__pricetag {
  position: absolute;
  left: 0;
  bottom: -1.79rem;
  font-family: 'Yeseva One', cursive;
  font-size: 1.29rem;
  text-transform: uppercase;
  background-color: #E3B873;
  color: #fff;
  padding: 1.214rem 2.6rem;
}

@media screen and (max-width: 760px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row .col .card__text {
    margin-left: 0;
  }
  .types__card {
    margin-bottom: 5rem;
  }
}

.design__section-title {
  margin-bottom: 2rem;
}

.design__text {
  max-width: 52.9rem;
  text-align: center;
  font-size: 1.428rem;
  line-height: 1.928rem;
  margin: 0 auto 2.214rem;
}

/* Свойства для усложненного 20 задания
.wrap { 
  
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  &--dark{
    opacity: 1;
    visibility: visible;
  }
}*/
.mobal {
  /* Свойства для усложненного 20 задания
  position: fixed;
  z-index: 3;
  left:50%;
  top:50%;
  max-width: 506px;
  max-height: 509px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%,-50%);
  &--visible{
    opacity: 1;
    visibility: visible;
  }
  }*/
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 19, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.mobal--visible {
  opacity: 1;
  visibility: visible;
}

.mobal__dialog {
  position: relative;
  max-width: 36.36rem;
  background: #131313 url("/src/img/bg-lines.svg") no-repeat center;
  padding: 2.357rem 3.5rem 1.928rem;
  color: #fff;
}

.mobal__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  background: transparent url("/src/img/x-circle.svg") no-repeat center;
  border: none;
  margin: 12px;
  cursor: pointer;
}

.mobal__title {
  font-family: 'Yeseva One', cursive;
  font-size: 1.357rem;
  text-align: center;
  margin: 0 0 2.428rem 0;
}

.mobal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobal__input {
  margin-bottom: 3.428rem;
}

.mobal__input:last-of-type {
  margin-bottom: 1rem;
}

.mobal__policy {
  margin-bottom: 2.7rem;
}

.mobal__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-slide__value {
  font-size: 1.071rem;
  line-height: 1.428rem;
}

.swiper-slide__text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 2.42rem;
  margin-right: -6.3rem;
}

.swiper-slide__heading {
  font-size: 1.285rem;
  line-height: 1.78rem;
  font-family: 'Yeseva One', cursive;
  color: #E3B873;
  text-transform: uppercase;
  margin: 0 0 0.64rem 0;
}

.swiper-slide > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.3);
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-button-prev, .swiper-button-next {
  bottom: 0;
  top: auto;
  width: 42px;
  height: 14px;
}

.swiper-button-prev:after, .swiper-button-next:after {
  display: none;
}

.swiper-button-prev {
  left: 0;
  background: url("/src/img/arrow-prev.svg") no-repeat center;
}

.swiper-button-next {
  background: url("/src/img/arrow-next.svg") no-repeat center;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  width: auto;
  bottom: 0;
}

.swiper-container--a {
  height: 15.714rem;
}

@media screen and (max-width: 1370px) {
  .swiper-slide__text {
    margin-right: -3rem;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
  header .menu .menu__nav .nav__link {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .swiper-slide__text {
    margin-right: 0rem;
  }
}

header .menu__nav {
  display: none;
}

.hero .instagram {
  display: none !important;
}

.hero__instagram {
  display: none;
}

.hero__content {
  margin-left: 0;
}

@media screen and (max-width: 760px) {
  .section--dark {
    margin: 0;
    padding: 0 0 5rem;
  }
  .section-title--left {
    text-align: center;
  }
  .section-title__heading--primary {
    text-align: center;
    margin-bottom: 2rem;
  }
  .section-title__word {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .section-title__word::after {
    display: none;
  }
  .section-title__text {
    text-align: center;
    margin: 0 auto 3.571rem;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .col-50 {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .col-50--a {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .col-30 .design__card {
    margin-bottom: 5rem;
  }
  .swiper-slide__text {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 760px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row .col-30 .card__text {
    margin-left: 0;
  }
  .types__card {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 570px) {
  header .phone {
    color: #fff !important;
  }
  .contacts__phone {
    margin-right: 0;
    text-decoration: none;
  }
  .contacts__button {
    display: none;
  }
  .hero .title {
    font-size: 1.64rem;
  }
  .hero__scroll-down {
    display: none !important;
  }
  .hero__content {
    min-width: 22.86rem;
  }
  .hero__text {
    font-size: 1.29rem;
  }
  .hero__button {
    display: block;
    min-width: 22.86rem;
    margin-bottom: 1.85rem;
  }
}

@media screen and (max-height: 520px) {
  .hero__scroll-down {
    display: none;
  }
}

@media screen and (max-width: 376px) {
  header .menu {
    margin-left: -14px;
  }
  .contacts .menu__contacts {
    margin-right: 0;
  }
  .contacts__phone {
    margin-right: 0 !important;
  }
  .hero {
    min-height: 100vh;
  }
  .hero__content {
    margin-left: 0 !important;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */